langchain_community
tiktoken
langchain-openai
langchainhub
chromadb
langchain
cohere
langchain-text-splitters
langchain-google-genai
arxiv
langgraph
unstructured
tavily-python
pymupdf
uvicorn
python-multipart